version: '2'
services:
  db:
    image: mattwas/postgresql:latest
    volumes:
      - data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  todoapp:
    image: mattwas/todoapp:latest
    links:
      - db
    environment:
      - PGHOST=db
      - PGDATABASE=pgdb
      - PGUSER=pguser
      - POSTGRES_PASSWORD=test
    ports:
      - "7777:7777"
